/* CSS for Serach bar in image-show branch */
.search-bar {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
